<div class="col-sm-8">
    <h1>Hospital Types</h1>

    <!-- New record button that triggers modal -->
    <button class="btn btn-primary btn-add pull-left" data-toggle="modal" data-target="#addClinicTypeModal"><i class="fa fa-plus"></i></button>

    <!-- New record modal -->
    <div class="modal fade bs-example-modal-lg" id="addClinicTypeModal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add a new clinic type</h4>
        </div>
        <div class="modal-body">      
            <form class="form-horizontal form-clinic-type" style="margin-top: 40px;" method="POST" >
    
                <div class="form-group">
                    <label for="type-type" class="col-sm-2 control-label">Type of clinic</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="type-type" name="type" required>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-save">Save</button>
                </div>        
        </form>
        <!-- End of form -->          
        </div>   
        </div>
    </div>
    </div>
    <!-- End of modal -->
    <% if(clinicTypes && clinicTypes.length !== 0 && clinicTypes !== undefined) { %>
        <table class="table table-hover">
        <thead>
            <th width="75%">Clinic Type</th>
            <th>Actions</th>
        </thead>
            <% _.each(clinicTypes, function(clinicType){ %>
                <tr>
                    <td class="type-name"><%=clinicType.type%></td>
                    <td class="type-edit hidden">
                        <div class="input-group form-control">
                            <input type="text" id="type-input-<%=clinicType.id%>" class="edit-type-input form-control" value="<%=clinicType.type%>">
                            <div class="input-group-btn">
                                <button class="btn btn-default cancel-input" id="cancel-<%=clinicType.id%>"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-default update-input" id="update-<%=clinicType.id%>">Save</button>
                            </div>
                        </div>
                    </td>
                    <td class="clinic-type">
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="edit-clinic-type" id="edit-<%=clinicType.id%>">Edit<span class="pull-right glyphicon glyphicon-pencil"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="btn-remove" id="remove-<%=clinicType.id%>">Delete<span class="pull-right glyphicon glyphicon-trash"></span></a></li>
                        </ul>
                        </div>
                    </td>
                </tr>
        <% }); %>
        </table>
    <% }else{ %>
        <div class="col-sm-12">
        <hr>
        </div>
        <div class="col-sm-12 text-center empty-list">There are no clinic types yet.</div> 
    <% }; %>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        //Form validation
        $('.form-clinic-type').formValidation({
            
            //Resets validation status after closing modal
            message: 'This value is not valid',
            excluded: ':disabled',
            
            // I am validating Bootstrap form
            framework: 'bootstrap',

            // Feedback icons
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
        

            // List of fields and their validation rules
            fields: {
                type:   {
                    validators: {
                        notEmpty:   {
                            message: 'You must enter a type.'
                        }
                    }
                }        
            }//end of validation rules
        });
    });
</script>