<h1>Contacts</h1>

<!-- New record button that triggers modal -->
<button class="btn btn-primary btn-add pull-left btn" data-toggle="modal" data-target="#addcontactModal"><i class="fa fa-plus"></i></button>

<!-- New record modal -->
<div class="modal fade bs-example-modal-lg" id="addcontactModal" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a contact</h4>
      </div>
      <div class="modal-body">      
         <form class="form-horizontal form-contact" style="margin-top: 40px;" method="POST" >
             <div class="form-group">
                <label for="contact-prefix" class="col-sm-3 control-label">Prefix</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="contact-prefix" placeholder="Dr. , Mrs. , Mr. " name="prefix" >
                </div>
            </div>
            <div class="form-group">
                <label for="contact-first" class="col-sm-3 control-label">First name</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="contact-first" name="first" required>
                </div>
            </div>
            <div class="form-group">
                <label for="contact-last" class="col-sm-3 control-label">Last name</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="contact-last" name="last" required>
                </div>
            </div>
            <div class="form-group">
                <label for="contact-email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="contact-email" name="email" >
                </div>
            </div>
            <div class="form-group">
                <label for="contact-title" class="col-sm-3 control-label">Job title</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="contact-title"  name="title" >
                </div>
            </div>
            
            <div class="form-group">
                <label for="contact-phone1" class="col-sm-3 control-label">Phone 1</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="contact-phone" name="phone1" >
                </div>
            </div>

            <div class="form-group">
                <label for="contact-phone2" class="col-sm-3 control-label">Phone 2</label>
                <div class="col-sm-8">
                <input type="text" class="form-control" id="contact-phone2" name="phone2" >
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-save">Save</button>
            </div>        
      </form>
      <!-- End of form -->          
      </div>   
    </div>
  </div>
</div>
<!-- End of modal -->
<% if(contacts.length !== 0 && contacts !== undefined) { %>

    <table class="table table-hover">
    <thead>
        <th>Contact name</th>
        <th>Phone(s)</th>
        <th>Email</th>
        <th>Actions</th>
    </thead>
        <% _.each(contacts, function(contact){ %>
            <tr>
                <td><%=contact.first%> <%=contact.last%></td>
                <td><%=contact.phone1%><%if(contact.phone1 != contact.phone2){%><br><%=contact.phone2%> <%}%></td> <!-- Doesn't double print a number -->
                <td><%=contact.email%></td>
                <td><a class="btn btn-primary" href="#contacts/<%=contact.id%>">View</a></td>
            </tr>
    <% }); %>
    </table>
<% }else{ %>
    <div class="col-sm-12">
      <hr>
    </div>
    <div class="col-sm-12 text-center empty-list">There are no contacts yet.</div> 
<% }; %>
    <!--<div id="pagination-controls"> 
        <nav>
        <ul class="pagination">
            -->
            <!--First page link-->
            <!--<li id="first-page">
            <a aria-label="Previous">
                <span class="fa fa-step-backward" aria-hidden="true"></span>
            </a>
            </li>-->
            
            <!--Previous page link-->
            <!--<li id="previous-page">
            <a aria-label="Previous">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
            </a>
            </li>-->
            
            <!--Page number links-->
            <!--<li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>
            <li class="page-link"><a></a></li>-->
            
            
            <!--Next page link-->
            <!--<li id="next-page">
            <a aria-label="Next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </a>
            </li>-->
            
            <!--Last page link-->
            <!--<li id="last-page">
            <a aria-label="Next">
                <span class="fa fa-step-forward" aria-hidden="true"></span>
            </a>
            </li>
        </ul>
        </nav> 
    </div>-->

<script type="text/javascript">
    $(document).ready(function(){   
         //Form validation
        $('.form-contact').formValidation({
            
            //Resets validation status after closing modal
            message: 'This value is not valid',
            excluded: ':disabled',
            
            // I am validating Bootstrap form
            framework: 'bootstrap',

            // Feedback icons
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
        

            // List of fields and their validation rules
            fields: {
                first:   {
                    validators: {
                        notEmpty:   {
                            message: 'You must enter a first name.'
                        }
                    }
                },
                last:   {
                    validators: {
                        notEmpty:   {
                            message: 'You must enter a last name.'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty:  {
                            message: 'You must enter an email.'
                        }
                    }
                }          
            }//end of validation rules
        });
    });
 </script>