
<div class="login-messages col-sm-12" style="min-height:80px;"></div>
<div class="col-sm-12 text-center"><img src="../assets/VCAlogo.jpg"/ width="50%" height="50%"></div>

<div class="col-sm-4 col-sm-offset-4">
    <h1 class="text-center">Login</h1>
    <div class="input-group" style="margin-bottom:20px;">
        <span class="input-group-addon" style="min-width:88px">Email</span>
        <input type="text" class="form-control" id="email" placeholder="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group" style="margin-bottom:20px;">
        <span class="input-group-addon" style="min-width:60px">Password</span>
        <input type="password" class="form-control" id="password" placeholder="Passwrod" aria-describedby="basic-addon1">
    </div>
    <span class="pull-right">
        <buttton class="btn btn-success btn-login">Login</buttton>
    </span>
</div>