<nav class="navbar navbar-inverse" style="max-width:100%">
    <div class="navbar-header" style="margin-top:6px">
      <a class="navbar-brand">Clinictron</a>
    </div>
    <ul class="nav navbar-nav" style="margin-top:6px">
      <li><a href="#contacts">Contacts</a></li>
      <li><a href="#hospitals">Hospitals</a></li> 
      <li><a href="#hospital_types">Hospital Types</a></li> 
    </ul>
    <a class="btn navbar-text navbar-right logout">Logout</a>
</nav> 
<div class="messages col-sm-12" style="min-height:80px;"></div>
<script type="text/javascript">
 
</script>